::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #141314;
    border-radius: 8px; /* Round the track corners */

}

::-webkit-scrollbar-track {
    background: #1c1b23;
    border-radius: 8px; /* Round the track corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #100f0f; /* Change the background color to a darker shade on hover */
}